{# Site overlay: product panels. Prefers extra.home_products (array), else extra.home_product. #}
{% if has_home_product %}
{% set products = none %}
{% if section.extra.home_products is defined %}
{% set products = section.extra.home_products %}
{% elif config.extra.home_products is defined %}
{% set products = config.extra.home_products %}
{% endif %}

{% if products %}
{% for product in products %}
{% set_global product_eyebrow = "Product" %}
{% set_global product_title = "Product" %}
{% set_global product_description = "" %}
{% set_global product_badge = "" %}
{% set_global product_cta_label = "Learn more" %}
{% set_global product_cta_path = "" %}
{% set_global product_image = "" %}
{% set_global product_image_alt = "" %}
{% set_global product_dom_id = "product-" ~ loop.index %}
{% if product.eyebrow is defined %}{% set_global product_eyebrow = product.eyebrow %}{% endif %}
{% if product.title is defined %}{% set_global product_title = product.title %}{% endif %}
{% if product.description is defined %}{% set_global product_description = product.description %}{% endif %}
{% if product.badge is defined %}{% set_global product_badge = product.badge %}{% endif %}
{% if product.cta_label is defined %}{% set_global product_cta_label = product.cta_label %}{% endif %}
{% if product.cta_path is defined %}{% set_global product_cta_path = product.cta_path %}{% endif %}
{% if product.image is defined %}{% set_global product_image = product.image %}{% endif %}
{% if product.image_alt is defined %}{% set_global product_image_alt = product.image_alt %}{% endif %}
{% if product.id is defined %}{% set_global product_dom_id = "product-" ~ product.id %}{% endif %}
{% include "partials/devlab/home/product-card.html" %}
{% endfor %}
{% else %}
{% set home_product = none %}
{% if section.extra.home_product is defined %}
{% set home_product = section.extra.home_product %}
{% elif config.extra.home_product is defined %}
{% set home_product = config.extra.home_product %}
{% endif %}
{% set_global product_eyebrow = "Product" %}
{% set_global product_title = "Burton Workspaces" %}
{% set_global product_description = "" %}
{% set_global product_badge = "MIT License" %}
{% set_global product_cta_label = "Visit Burton" %}
{% set_global product_cta_path = "https://www.burtonapp.com" %}
{% set_global product_image = "" %}
{% set_global product_image_alt = "" %}
{% set_global product_dom_id = "product" %}
{% if home_product %}
{% if home_product.eyebrow is defined %}{% set_global product_eyebrow = home_product.eyebrow %}{% endif %}
{% if home_product.title is defined %}{% set_global product_title = home_product.title %}{% endif %}
{% if home_product.description is defined %}{% set_global product_description = home_product.description %}{% endif %}
{% if home_product.badge is defined %}{% set_global product_badge = home_product.badge %}{% endif %}
{% if home_product.cta_label is defined %}{% set_global product_cta_label = home_product.cta_label %}{% endif %}
{% if home_product.cta_path is defined %}{% set_global product_cta_path = home_product.cta_path %}{% endif %}
{% if home_product.image is defined %}{% set_global product_image = home_product.image %}{% endif %}
{% if home_product.image_alt is defined %}{% set_global product_image_alt = home_product.image_alt %}{% endif %}
{% if home_product.id is defined %}{% set_global product_dom_id = "product-" ~ home_product.id %}{% endif %}
{% endif %}
{% include "partials/devlab/home/product-card.html" %}
{% endif %}
{% endif %}
